.main_layout {
  display: flex;
  flex-direction: column;
  margin: 2.5em;
  padding: 2.5em;
}

.header_main {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  justify-content: space-between;
}

.header_item {
  margin-left: 2em;
  margin-top: .5em;
  cursor: pointer;
}

.body_header_item {
  margin-left: 2em;
  margin-top: 5em;
}

.selected_header {
  margin-left: 1em;
  padding-left: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: rgba(102, 141, 247, 0.527);
  border-radius: .2em;
}

.about_area {
  margin-top: 5em;
  margin-left: 2em;
  background-color: rgba(153, 153, 153, 0.541);
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 3em;
  border-radius: 1em;
}